# Ignore auser.txt file
auser.txt

# Ignore the fontawesome directory inside assets
assets/fontawesome/

# ignore this HAAHHAHA
assets/vendor/bootstrap/webfonts/

# assets/img/
assets/attachments/
fontawesome-free-6.7.2-web

.vscode