# Ignore auser.txt file
auser.txt

# Ignore the fontawesome directory inside assets
assets/fontawesome/

# ignore this HAAHHAHA
assets/vendor/bootstrap/webfonts/

asset/img
asset/excel
assets/attachments/
fontawesome-free-6.7.2-web

.vscode
setting.php


# for some basic vulnerabilities check hahaha.

#adashboardVS.php
#adashboardVSfetch.php
#apatternVS.php
vulnerability_scan.log

#critical/sensitive data
setting.php